<header class="main-header">
  <div class="logo-container">
    <img class="logo" src="../../assets/agile.png" />
    <p>Agile planner</p>
  </div>
  <div>
    <nav>
      <ul class="nav-links">
        <li>
          <a href="#" class="cta"
            ><button><img src="../../assets/settings.png" alt="" /></button
          ></a>
        </li>
        <li>
          <a href="#" class="cta"
            ><button><img src="../../assets/query.png" alt="" /></button
          ></a>
        </li>
        <li>
          <a href="#" class="cta"
            ><button><img src="../../assets/profile.png" alt="" /></button
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
