* {
    background-color: white;
}

.container {
    margin-left: 5rem;
    width: 94.8%;
    height: auto;
    position: absolute;
    padding: 16px 0px;
}

.heading-container, .query-container, .content-container {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    align-items: center;
}

.heading-container {
    align-items: center;
    justify-content: space-between;
}

.heading {
    display: flex;
    flex-direction: column;
}

.board {
    font-size: 1.2rem;
    color: rgba(50, 50, 50, 0.5);
}

.backlog {
    font-size: 2rem;
    font-weight: 400;
}

.selectors select, input {
    margin-right: 20px;
    background-color: rgba(238, 238, 238, 0.8);
    width: 20vw;
    height: 5vh;
    border: none;
    font-size: 1.2rem;
    text-align: center;
}

input {
    margin-right: 0;
    font-size: 1.2rem;
    display: inline;
}

.filter-button {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(73, 103, 255);
}

.search {
    border: none;
    background-color: rgba(238, 238, 238, 0.5);
    margin-right: 20px;
    display: inline;
}

.search:hover .search-image{
    background-color: rgba(156, 156, 156, 0.5);
}

.search:hover{
    background-color: rgba(156, 156, 156, 0.5);
}

.search-image {
    height: 4.8vh;
    background-color: rgba(238, 238, 238, 0.5);
}

.form-group {
    display: inline-flex;
    align-items: center;
}

.filters span {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(50, 50, 50, 0.5);
}

.filter-button:hover {
    text-decoration: underline;
}

.query-container {
    border-bottom: 2px solid rgba(238, 238, 238, 0.5);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin-bottom: 20px;
}

.sprint-name {
    margin: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black
}

.sprint-status {
   padding: 5px; 
   font-weight: bold;
   background-color: green;
   color: white;
   text-align: center;
}

.arrow, .export-btn, .more-btn {
    border: none;
    background-color: rgba(238, 238, 238, 0.8);
    padding: 4px;
}

.export-btn {
    margin-left: 50px;
    padding: 10px;
    width: 10vw;
    font-size: 1.2rem;
}

.more-btn {
    margin-left: 15px;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.story-points {
    margin: 5px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.todo, .inprogress, .done {
    padding: 5px 12px;
    margin: 3px;
    border-radius: 12px;
}
.todo {
    background-color: rgb(30, 0, 72);
}


.inprogress {
    background-color: rgb(0, 85, 197);
}

.done {
    background-color: rgb(0, 93, 9);
}

