.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.75);
    z-index: 50;
}

.alert-box {
    position: fixed;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    height: 60vh;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.heading-container {
    padding: 15px 26px;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px solid rgba(238, 238, 238, 0.9);
}

.project-selection, .summary-container {
    
    padding: 15px 26px;
    display: flex;
    flex-direction: column;
}

.note {
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-container {
    height: 45vh;
    overflow-y: scroll;
}

hr {
    border: 1px solid rgba(238, 238, 238, 0.9);
    background-color: rgba(238, 238, 238, 0.9);
}

.form-group {
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.form-group label {
    font-size: 18px;
    width: 8rem;
    font-weight: bold;
    color:rgba(0, 0,0, 0.65);
}

.asterisk {
    color: red;
}

textarea, input {
    background-color: rgba(238, 238, 238, 0.2);
    border: 3px solid rgba(226, 226, 226, 0.5);
}

input {
    position: relative;
    width: 20vw;
    height: 5vh;
    border: 3px solid rgba(226, 226, 226, 0.5);
}


select {
    width: 20vw;
    height: 5vh;
    border: none;
    font-size: 1.2rem;
    background-color: rgba(238, 238, 238, 0.5);
}

select:hover, input:hover {
    background-color: rgba(238, 238, 238, 0.9);
}

option {
    font-size: 1.2rem;
}

.button-container {
    position: relative;
    width: 100%;
    height: 10%;
    border-top: 2px solid rgba(238, 238, 238, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.create {
    margin-right: 10px;
    padding: 8px 10px;
    border: none;
    background-color: rgb(73, 103, 255);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
}

.create:hover {
    cursor: pointer;
    background-color: rgba(73, 99, 255,0.7);
}

.cancel {
    margin-right: 30px;
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 1rem;
}

.cancel:hover {
    text-decoration: underline;
}

