<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="" class="nav-link"
        ><img class="app-icon" src="../../assets/app_icon.png" alt="" /><span
          class="link-text app-text"
          >Application</span
        ></a
      >
    </li>
    <li class="nav-item">
      <a href="" class="nav-link"
        ><img
          class="nav-img"
          src="../../assets/sidenav/backlog.png"
          alt=""
        /><span class="link-text">Backlog</span></a
      >
    </li>
    <li class="nav-item">
      <a href="" class="nav-link"
        ><img
          class="nav-img"
          src="../../assets/sidenav/sprint.png"
          alt=""
        /><span class="link-text">Active sprints</span></a
      >
    </li>
    <li class="nav-item">
      <a href="" class="nav-link"
        ><img
          class="nav-img"
          src="../../assets/sidenav/releases.png"
          alt=""
        /><span class="link-text">Releases</span></a
      >
    </li>
    <li class="nav-item">
      <a href="" class="nav-link"
        ><img
          class="nav-img"
          src="../../assets/sidenav/issues.png"
          alt=""
        /><span class="link-text">Issues</span></a
      >
    </li>
    <li class="nav-item">
      <a href="" class="nav-link"
        ><img
          class="nav-img"
          src="../../assets/sidenav/reports.png"
          alt=""
        /><span class="link-text">Reports</span></a
      >
    </li>
    <li class="nav-item">
      <img
        class="nav-img right-arrow"
        src="../../assets/sidenav/right_arrow.png"
        alt=""
      /><span class="link-text"></span>
    </li>
  </ul>
</nav>
